<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.app.mapper.LabelInfoMapper">

    <select id="customLabel" resultType="com.atguigu.lease.model.entity.LabelInfo">
        select * from apartment_label al
              left join label_info li
                        on al.label_id=li.id and li.type=1 and li.is_deleted=0
        where al.apartment_id=#{id} and al.is_deleted=0
    </select>


    <select id="customByRoomId" resultType="com.atguigu.lease.model.entity.LabelInfo">
        select li.id,li.name,li.type from room_label rl
                                              left join label_info li
                                                        on rl.label_id=li.id and li.type=2 and li.is_deleted=0
        where rl.is_deleted=0 and rl.room_id=#{id};
    </select>
</mapper>
