<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.app.mapper.LeaseTermMapper">


    <select id="selectByroomId" resultType="com.atguigu.lease.model.entity.LeaseTerm">
        select lt.* from room_info ri
                 left join room_lease_term rlt
                           on ri.id=rlt.room_id and rlt.is_deleted=0
                 left join lease_term lt
                           on rlt.lease_term_id=lt.id and lt.is_deleted=0
        where ri.id=2 and ri.is_deleted=0;
    </select>


    <select id="ByroomId" resultType="com.atguigu.lease.model.entity.LeaseTerm">
        select lt.id,lt.month_count,lt.unit
        from room_lease_term rlt
                 left join lease_term lt
                           on rlt.lease_term_id=lt.id and lt.is_deleted=0
        where rlt.is_deleted=0 and rlt.room_id=#{id};
    </select>
</mapper>
