<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.app.mapper.PaymentTypeMapper">

    <select id="ById" resultType="com.atguigu.lease.model.entity.PaymentType">
        select pt.* from room_info ri
                     left join room_payment_type rpt
                               on ri.id=rpt.room_id and rpt.is_deleted=0
                     left join payment_type pt
                               on rpt.payment_type_id=pt.id and ri.is_deleted=0
        where ri.id=#{id};
    </select>


    <select id="ByroomId" resultType="com.atguigu.lease.model.entity.PaymentType">
        select pt.id,pt.name,pt.pay_month_count,pt.additional_info
        from room_payment_type rpt
                 left join payment_type pt
                           on rpt.payment_type_id=pt.id and pt.is_deleted=0
        where rpt.is_deleted=0 and rpt.room_id=#{id};
    </select>
</mapper>