<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.admin.mapper.ViewAppointmentMapper">
    <resultMap id="rMap" type="com.atguigu.lease.web.admin.vo.appointment.AppointmentVo">
        <id column="v_id" property="id"/>
        <result column="v_name" property="name"/>
        <result column="v_phone" property="phone"/>
        <association property="apartmentInfo" javaType="com.atguigu.lease.model.entity.ApartmentInfo">
            <id column="id" property="id"/>
        </association>
    </resultMap>

    <select id="customPage" resultMap="rMap">
        select
            va.id v_id,va.user_id,va.name v_name,va.phone v_phone,va.apartment_id,va.appointment_time,
            va.additional_info,va.appointment_status,ai.*
        from view_appointment va left join apartment_info ai
                                           on va.apartment_id=ai.id and ai.is_deleted=0
        <if test="queryVo.provinceId!=null">
            and ai.province_id=#{queryVo.provinceId}
        </if>
        <if test="queryVo.cityId!=null">
            and ai.city_id=#{queryVo.cityId}
        </if>
        <if test="queryVo.districtId!=null">
            and ai.district_id=#{queryVo.districtId}
        </if>
        where va.is_deleted=0
        <if test="queryVo.apartmentId!=null">
            and va.apartment_id=#{queryVo.apartmentId}
        </if>
        <if test="queryVo.name!=null">
            and va.name like concat('%',#{queryVo.name},'%')
        </if>
        <if test="queryVo.phone!=null">
            and va.phone like concat('%',#{queryVo.phone},'%')
        </if>
    </select>
</mapper>
